<div class="bg-success">
    <div class="row">
        <div class="col-12">
            <h1>{{cs.name}}</h1>
            <h2>Valor: {{valor}}</h2> 
            <h3>Global: {{cs.getValor()}}</h3>
            <h4>{{alumno}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button (click)="incrementar()" class="btn btn-light">Incrementar</button>
            <button (click)="changeAlumno()" class="btn btn-success">Nuevo Alumno</button>
        </div>
    </div>
</div>